In [8]:
# Import Libraries
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import os
from dotenv import load_dotenv
load_dotenv()

True

In [9]:
# Criando uma conexão com o banco PostgreSQL usando a biblioteca psycopg2
conn = psycopg2.connect(
            user=os.getenv('PG_USER'),
            password=os.getenv('PG_PWD'),
            host=os.getenv('PG_HOST'),
            port=os.getenv('PG_PORT'),
            # database=os.getenv('PG_DATABASE')
        )

cur = conn.cursor()

In [16]:
# Consulta da tabela de usuários no banco de dados
df_users_query = '''
select
	*
	, concat("_id_user", ' - ', initcap("name")) as id_user_and_name
	, concat(phone , ' - ', initcap("name")) as phone_user_and_name  
from public.gpt_users gu 
order by "_id_user" 
'''

df_users = sqlio.read_sql_query(df_users_query, conn)

df_users.head(1)

C:\Users\braga\AppData\Local\Temp\ipykernel_17736\2022986412.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = sqlio.read_sql_query(df_users_query, conn)

,_id_user,date_created,name,phone,type,features_available,id_user_and_name,phone_user_and_name
0,0,2024-06-13 00:21:16.097,Eduardo Bonfim,553199223663,admin,few,0 - Eduardo Bonfim,553199223663 - Eduardo Bonfim

In [15]:
# Write the update query
sql_update_query = """UPDATE public.gpt_users
                      SET features_available = %s
                      WHERE _id_user = %s"""

# Tuple of values to update (new salary, employee id)
values_to_update = ('few', 0)

# Execute the query
cur.execute(sql_update_query, values_to_update)

# Commit the changes to the database
conn.commit()

In [20]:
df_users['id_user_and_name'].unique()

array(['0 - Eduardo Bonfim', '1 - Thiago Braga Bonfim', '2 - Luciana',
       '3 - Patrick Yael', '4 - Tiringuiço Reformas',
       '5 - Gabriel De Paula', '6 - Ryan', '7 - Gabriela',
       '8 - Davi Eduardo', '9 - Gustavin', '10 - Arthur', '11 - Bruna',
       '12 - Luiza', '14 - Henrique', '15 - Samuel', '16 - Guedes',
       '17 - Valda Bonfim', '18 - Marcos Matos', '19 - Duda',
       '20 - Tetelo', '21 - Samuel Gomes', '31 - Danilo Santana',
       '32 - Marina Zolini', '33 - ⠀', '34 - Samuel', '35 - Carol Simões',
       '36 - Manuela', '37 - Flávia Braga', '38 - Silvia Helena',
       '39 - Lucas Federici', '40 - Guilherme', '41 - Vitor',
       '42 - Ana Paula✨', '43 - Matheus Almeida', '44 - Julia',
       '45 - Victor Catalano', '46 - Ana Clara Magri',
       '47 - Gustavo Lamartine', '48 - Joao Pedro',
       '49 - Bernardo Campolina', '50 - Pedro Santos'], dtype=object)